# Database
MONGODB_URL="your_mongodb_url_here"

# Authentication / Security
JWT_SECRET="your_jwt_secret_here"
NODE_ENV="development"

# Email / SMTP
SMTP_USER="your_email_here"
SMTP_PASS="your_email_password_here"
SENDER_EMAIL="your_email_here"
